# Frontend-specific files to ignore

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local env files
.env*.local

# vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
